<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Rajyotsava Cup</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   </head>
   <body>
      <header>
         <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Karnataka Logo" class="header-logo left">
         <h2>DE Badminton</h2>
         <h2>ಕನ್ನಡ ರಾಜ್ಯೋತ್ಸವ ಕಪ್ - 2025</h2>
         <h2>Kannada Rajyotsava Cup - 2025</h2>
         <h3>Create Memories & Smash Your Worries</h3>
         <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Karnataka Logo" class="header-logo left">
      </header>
      <main>
         <section class="register">
            <p>
               <a href="https://forms.gle/h2Ubx76spPnkacmv8" target="_blank" class="form-link">
               👉Register Now
               </a>
            </p>
         </section>
      </main>
   </body>
</html>