<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>DE Kannada Rajyotsava Cup</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   </head>
   <body>
      <div class="page-wrapper">
      <header class="banner-header">
         <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Karnataka Logo" class="header-logo left">
         <h2 class="event-title">DE Badminton</h2>
         <h2 class="event-title">ಕನ್ನಡ ರಾಜ್ಯೋತ್ಸವ ಕಪ್</h2>
         <h2 class="event-title">Kannada Rajyotsava Cup</h2>
         <h2 class="event-title">2025</h2>
         <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Karnataka Logo" class="header-logo left">
         <h2 class="event-title">Fixtures, Results & Standings</h2>
      </header>
      <main>
         <section class="auction-main">
            <p>
            <br>Tournament Date</br>
            <br>Saturday, 1 November, 2025</br>
            <br>Come Back On Match Day To Know Fixtures, Match Results & Team Standings</br>
            <br></br>
            <img src="{{ url_for('static', filename='img/tournament.png') }}" alt="Auction Banner" class="auction-image">
            </p>
         </section>
      </main>
      <footer class="event-footer">
        <p>ನೆನಪುಗಳನ್ನು ರಚಿಸಿ ಮತ್ತು ನಿಮ್ಮ ಚಿಂತೆಗಳನ್ನು ಉಡಾಯಿಸಿ!</p>
        <p>Create memories and smash your worries!</p>
      </footer>
      </div>
   </body>
</html>